@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.otsiv {
    width: 100%;
    /* height: 600px; */
    background-color: #E9E9EA;
    margin-top: 90px;
    align-items: center;
    text-align: center;
}
.tit-ot {
    padding-top: 40px;
    font-size: 48px;
    color: black;
    font-weight: 300;
    font-family: 'Montserrat';
}
.man {
    width: 200px;
    height: 200px;
    margin-top: 60px;
}
.subtit {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    margin-top: 50px;
    font-weight: 300;
    font-family: 'Montserrat';
}
.scroll {
    margin-top: 40px;
    width: 40px;
    height: 9px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 700px) {
    .otsiv {
        width: 100%;
        /* height: 600px; */
        background-color: #E9E9EA;
        margin-top: 90px;
        align-items: center;
        text-align: center;
    }
    .tit {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        color: black;
        font-size: 30px;
        font-weight: 300;
        font-family: 'Montserrat';
    }
    .man {
        width: 150px;
        height: 150px;
        margin-top: 60px;
    }
    .subtit {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 25px;
        margin-top: 50px;
        font-weight: 300;
        font-family: 'Montserrat';
    }
    .scroll {
        margin-top: 40px;
        width: 40px;
        height: 9px;
        margin-bottom: 40px;
    }
    
}
@media only screen and (max-width: 420px) {
    .otsiv {
        width: 100%;
        background-color: #E9E9EA;
        margin-top: 90px;
        align-items: center;
        text-align: center;
    }
    .tit {
        padding-top: 40px;
        font-size: 16px;
        font-weight: 300;
        color: black;
        font-family: 'Montserrat';
    }
    .man {
        width: 193px;
        height: 182px;
        margin-top: 60px;
    }
    .subtit {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 11px;
        margin-top: 50px;
        font-weight: 300;
        font-family: 'Montserrat';
    }
    .scroll {
        margin-top: 40px;
        width: 45px;
        height: 8px;
    }
}